# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ===== Virtual Environment =====
venv/
.env/
.env*/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.vscode/
.idea/

# ===== Model / Cache =====
faces_db.npz
faces_db_images/

# ===== AI Models =====
*.pt
weights/

